@model ND.FluentTaskScheduling.Model.response.LoadTaskVersionResponse
@using ND.FluentTaskScheduling.Model.response
@using ND.FluentTaskScheduling.Model;
@using ND.FluentTaskScheduling.Model.enums
@{
    ViewBag.Title = "编辑任务";
    List<NodeDetailDto> nodelist = ViewBag.NodeList as List<NodeDetailDto>;
    List<tb_user> userlist = ViewBag.UserList as List<tb_user>;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "Task", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="hidden" value="@Model.TaskDetail.id" name="TaskId" />
    <input type="hidden" value="@Model.TaskVersionDetail.id" name="TaskVersionId" />
    <div class="row">


        <div class="box box-primary col-md-6 pull-right">
            <div class="box-body">
                <div class="row">
                    <div class="form-group col-md-3">
                        <label>任务名称:</label>
                        <input type="text" name="TaskName" class="form-control" value="@Model.TaskDetail.taskname" placeholder="任务名称">
                    </div>

                    <div class="form-group col-md-3">
                        <label>任务命名空间:</label>
                        <input type="text" class="form-control" name="TaskNameSpace" value="@Model.TaskDetail.tasknamespace" placeholder="任务命名空间">
                    </div>

                    <div class="form-group col-md-3">
                        <label>任务类名:</label>
                        <input type="text" class="form-control" name="TaskMainClassName" value="@Model.TaskDetail.taskclassname" placeholder="任务类名">
                    </div>

                    <div class="form-group col-md-3">
                        <label>任务节点</label>
                        <select class="form-control select2" name="NodeId" data-placeholder="任务节点">
                            @for (int i = 0; i < nodelist.Count; i++)
                            {
                                <option value="@nodelist[i].NodeDetail.id" @((Model.TaskVersionDetail.nodeid + "") == nodelist[i].NodeDetail.id.ToString() ? "selected='selected'" : "")>@nodelist[i].NodeDetail.nodename</option>
                            }
                        </select>
                    </div>

                </div>

                <div class="row">
                    <div class="form-group col-md-6">
                        <label>任务描述:</label>
                        <textarea class="form-control" name="TaskDescription" rows="3"  placeholder="任务描述">@Model.TaskDetail.taskdescription</textarea>
                    </div>
                    <div class="form-group col-md-6">
                        <label>任务参数:</label>
                        <textarea class="form-control" name="TaskParams" rows="3" placeholder="任务参数">@Model.TaskVersionDetail.taskparams</textarea>
                    </div>
                </div>

              

                <div class="row">
                    <div class="form-group col-md-6">
                        <label>任务dll压缩包名称:</label>
                        <input type="text" class="form-control" name="TaskDllFileName" value="@Model.TaskVersionDetail.zipfilename" placeholder="任务dll压缩包名称">
                    </div>
                    <div class="form-group col-md-6">
                        <label>上传任务压缩包:</label>
                        <input type="file" class="form-control" name="TaskDllStream" placeholder="任务dll压缩包名称">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-6">
                        <label>任务备注:</label>
                        <textarea class="form-control" name="TaskRemark" rows="3" placeholder="任务备注">"@Model.TaskDetail.taskremark"</textarea>
                    </div>

                    <div class="form-group col-md-6">
                        <div class="form-group">
                            <label>任务类型:</label><br />
                            @foreach (var o in (ND.FluentTaskScheduling.Helper.EnumHelper<TaskType>.GetAllEnumsOfList2()))
                            {
                                <label class="margin-r-5">
                                    <input type="radio" name="TaskType" @(Model.TaskDetail.tasktype.ToString() == o.Value ? "checked=''checked" : "") value="@o.Value" class="flat-red">&nbsp&nbsp<span>@o.Text</span>
                                </label>
                            }
                        </div>

                        <div class="tasktypebox">
                            <div class="form-group">
                                @*<label>任务Corn表达式:</label>*@
                                <input type="text" class="form-control" name="TaskCorn" value="@Model.TaskVersionDetail.taskcron" placeholder="任务Corn表达式">
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="form-group col-md-6">
                        <div class="form-group">
                            <label>
                                <input type="checkbox"  name="IsEnabledAlarm" class="flat-red"/>&nbsp&nbsp是否启用报警<br />
                            </label>
                        </div>
                        <div  class="alarmbox">
                            <div class="form-group">
                                @foreach (var o in (ND.FluentTaskScheduling.Helper.EnumHelper<ND.FluentTaskScheduling.Helper.AlarmType>.GetAllEnumsOfList2()))
                                {
                                    <label class="margin-r-5">
                                        <input type="radio" name="AlarmType" @(Model.TaskDetail.alarmtype.ToString() == o.Value ? "checked=''checked" : "") value="@o.Value" class="flat-red">&nbsp&nbsp<span>@o.Text</span>
                                    </label>
                                }
                            </div>
                            <div class="form-group">
                                <label>
                                    报警人
                                    <select id="selalarmlist" class="form-control select2" name="AlarmUserId" multiple="multiple" data-placeholder="选择报警人" style="width: 100%;">
                                        @for (int i = 0; i < userlist.Count; i++)
                                        {
                                            <option value="@userlist[i].id" @(Model.TaskDetail.alarmuserid.Split(',').Contains(userlist[i].id.ToString()) ? "selected='selected'" : "")>@userlist[i].realname.ToString()</option>
                                        }
                                    </select>
                                </label>
                            </div>
                        </div>

                    </div>
                </div>

               
              
                <div class="row">
                    <div class="form-group col-md-3">

                        <a href="../Task/index" class="btn pull-right">返回列表</a>
                        <button type="submit" class="btn margin-r-5 btn-primary pull-right">修改</button>
                    </div>
                </div>

            </div>

        </div>
    </div>

}

<script>

    $(function () {
        $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
            checkboxClass: 'icheckbox_flat-green',
            radioClass: 'iradio_flat-green'
        });


        $('input[name=IsEnabledAlarm]').on('ifChecked', function (event) {
            $(".alarmbox").show();


        });
        $('input[name=IsEnabledAlarm]').on('ifUnchecked', function (event) {
            $(".alarmbox").hide();
        });
       
        $('input[name=TaskType]').on('ifChecked', function (event) {
            if ($(this).val() == '@((int)TaskType.SchedulingTask)') {
                $(".tasktypebox").show();
            }
            else {
                $(".tasktypebox").hide();
            }

        });
        Init();


    })
    function Init()
    {
        if ('@Model.TaskDetail.isenablealarm' == "1") {
            $('input[name=IsEnabledAlarm]').iCheck('check');
            $(".alarmbox").show();
           
        }
        else {
            $('input[name=IsEnabledAlarm]').iCheck('uncheck');
            $(".alarmbox").hide();
        }

        if('@Model.TaskDetail.tasktype' =='@((int)TaskType.SchedulingTask)')
        {
            $(".tasktypebox").show();
        }
        else
        {
            $(".tasktypebox").hide();
        }
    }
   
</script>