@model IEnumerable<ND.FluentTaskScheduling.Model.tb_log>
@using ND.FluentTaskScheduling.Model.enums
@using ND.FluentTaskScheduling.Model.response
@{
    ViewBag.Title = "NodeLog";
     List<NodeDetailDto> nodelist = ViewBag.NodeList as List<NodeDetailDto>;
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section class="content-header">
    <h1>
        节点日志列表
        @*<small>展示列表</small>*@
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 命令管理</a></li>
        <li><a href="#">节点日志列表</a></li>
    </ol>
</section>

<section class="content">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">检索条件</h3>
            <div class="box-tools pull-right">

                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>

        <div class="box-body">

            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label>日志创建起始时间:</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" name="NodeLogCreateTimeRange" class="form-control" value="@ViewBag.NodeLogCreateTimeRange" id="reservation">
                        </div>
                    </div>

                </div>



                <div class="col-md-2">
                    <div class="form-group">
                        <label>节点名称</label>
                        <select class="form-control select2" name="NodeId" id="selNodeNameList">
                            <option value="-1">全部</option>
                            @for (int i = 0; i < nodelist.Count; i++)
                            {
                                <option value="@nodelist[i].NodeDetail.id" @(ViewBag.NodeId == nodelist[i].NodeDetail.id.ToString() ? "selected='selected'" : "")>@nodelist[i].NodeDetail.nodename</option>
                            }
                        </select>
                    </div>
                </div>

              

                <div class="col-md-2">
                    <div class="form-group">
                        <label>节点日志类型</label>
                        <select class="form-control select2" name="LogType" id="sellogtypelist">
                            <option value="-1">全部</option>
                            @foreach (var o in (ND.FluentTaskScheduling.Helper.EnumHelper<ND.FluentTaskScheduling.Model.request.LogType>.GetAllEnumsOfList2()))
                            {
                                <option value="@o.Value" @((ViewBag.NodeLogType + "") == o.Value ? "selected='selected'" : "")>@o.Text</option>
                            }
                        </select>
                    </div>
                </div>

               

            </div>

        </div>

        <div class="box-footer">
            <button type="button" class="btn margin-r-5 btn-primary pull-right" id="btnSearchNodeLog">查询</button>
        </div>

    </div>





    <div class="box box-default">
        <!--任务列表-->
        <div class="row">
            <div class="col-xs-12">

                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">节点日志展示列表</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="tbNodeLogList" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                   
                                    <th>节点编号</th>
                                    <th>节点日志消息</th>
                                    <th>节点日志类型</th>
                                    <th>节点创建时间</th>
                                  

                                </tr>
                            </thead>
                            <tbody>
                               

                            </tbody>
                            <tfoot>

                            </tfoot>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </div>
</section>


<script>
    $(function () {
        var tbl;
        $(function () {
            tbl = $('#tbNodeLogList').DataTable({
                "aoColumns": [
                  {
                      "mRender": function (mData, type, full) {
                          var html = [];
                          html.push("<a class=\"node\"  href=\"../Node/Index?nodeid=" + full.nodeid + "\">" + _G.StatusDiscription($("#selNodeNameList option"), full.nodeid) + "</a>")
                          return html.join('');
                      }
                  },
                     { "bSortable": true, "data": "msg" },
                    {
                        "mRender": function (mData, type, full) {
                            var html = [];
                            html.push("<span class=\"node\">" + _G.StatusDiscription($("#sellogtypelist option"), full.logtype) + "</span>")
                            return html.join('');
                        }
                    },
                      { "bSortable": true, "data": "logcreatetime" },

                ],
                "paging": true,
                "lengthChange": true,
                // "searching": true,//是否允许Datatables开启本地搜索
                "ordering": false,//是否允许Datatables开启排序
                "info": true,//控制是否显示表格左下角的信息
                "autoWidth": true,//自动宽度
                "bProcessing": true, //DataTables载入数据时，是否显示‘进度’提示
                "bScrollCollapse": true, //是否开启DataTables的高度自适应，当数据条数不够分页数据条数的时候，插件高度是否随数据条数而改变
                "bPaginate": true, //是否显示（应用）分页器
                "bInfo": true, //是否显示页脚信息，DataTables插件左下角显示记录数
                "sPaginationType": "full_numbers", //详细分页组，可以支持直接跳转到某页
                "sScrollX": "100%",
                "scrollX": true,
                "iDisplayLength": 10,//默认显示
                "aLengthMenu": [10, 15, 20, 25, 50],//控制每页显示多少个
                "oLanguage": oLanguageData,
                "bServerSide": true,////指定服务端分页，必须的属性！
                "sAjaxSource": "NodeLog",
                "fnServerParams": function (aoData) {
                    aoData.push({ "name": "NodeId", "value": $("#selNodeNameList option:selected").val() });
                    aoData.push({ "name": "NodeLogCreateTimeRange", "value": $("#reservation").attr("value") });
                    aoData.push({ "name": "NodeLogType", "value": $("#sellogtypelist option:selected").val() });

                },
                "fnServerData": function (sSource, aoData, fnCallback) {

                    $.ajax({
                        "dataType": 'json',
                        "type": "POST",
                        "url": sSource,
                        "data": aoData,
                        "success": function (data) {
                            tbl.clear();
                            fnCallback(data);
                        }
                    });
                }

            });
            //点击查询
            $("#btnSearchNodeLog").click(function () {
                tbl.clear();
                tbl.draw();
            });


        })
    })

</script>