@model ND.FluentTaskScheduling.Model.response.LoadNodeDetailResponse
@using ND.FluentTaskScheduling.Model;
@{
    ViewBag.Title = "编辑节点";
    List<tb_user> userlist = ViewBag.UserList as List<tb_user>;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="content-header">
    <h1>
        编辑节点
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 节点管理</a></li>
        <li><a href="#">编辑节点</a></li>
    </ol>
</section>


@using (Html.BeginForm("Edit", "Node", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="hidden" value="@Model.NodeDetail.id" name="NodeId" />
    <div class="row">


        <div class="box box-primary col-md-6 pull-right">
            <div class="box-body">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label>节点名称:</label>
                        <input type="text" name="nodename" class="form-control" value="@Model.NodeDetail.nodename" placeholder="节点名称,例如:192.168.1.102,node102">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-6">
                        <label>节点ip:</label>
                        <input type="text" name="nodeip" class="form-control" value="@Model.NodeDetail.nodeip" placeholder="节点ip,例如:192.168.1.102">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-6">
                        <label>节点描述:</label>
                        <textarea class="form-control" name="nodediscription"  rows="3" placeholder="节点描述">@Model.NodeDetail.nodediscription</textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label>
                            <input type="checkbox" name="ifcheckstate" id="ifcheckstate" checked="checked" class="flat-red">&nbsp&nbsp是否检查心跳
                        </label>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-6">
                        <div class="form-group">
                            <label>
                                <input type="checkbox" id="isenabledAlarm" name="isenablealarm" checked="checked" class="flat-red">&nbsp&nbsp是否启用报警<br />
                            </label>
                        </div>
                        <div class="alarmbox">
                            <div class="form-group">
                                @foreach (var o in (ND.FluentTaskScheduling.Helper.EnumHelper<ND.FluentTaskScheduling.Helper.AlarmType>.GetAllEnumsOfList2()))
                                {
                                    <label class="margin-r-5">
                                        <input type="radio" name="alarmtype" @(Model.NodeDetail.alarmtype.ToString() == o.Value ? "checked=''checked" : "") value="@o.Value" class="flat-red">&nbsp&nbsp<span>@o.Text</span>
                                    </label>
                                }
                            </div>
                           
                            <div class="form-group">
                                <label>
                                    报警人
                                    <select id="selalarmlist" class="form-control select2" name="alarmuserid" multiple="multiple" data-placeholder="选择报警人" style="width: 100%;">
                                        @for (int i = 0; i < userlist.Count; i++)
                                        {
                                            <option value="@userlist[i].id" @(Model.NodeDetail.alarmuserid.Split(',').Contains(userlist[i].id.ToString()) ? "selected='selected'" : "")> @userlist[i].realname.ToString()</option>
                                        }
                                    </select>
                                </label>
                            </div>
                        </div>

                    </div>
                </div>




                <div class="row">
                    <div class="form-group col-md-6">
                        <label>单次获取命令队列数量:</label>
                        <input type="text" class="form-control" value="@Model.NodeDetail.maxrefreshcommandqueuecount" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')" value="50" name="maxrefreshcommandqueuecount" placeholder="数量,例如:5,10,默认是50">
                    </div>
                </div>



                <div class="row">
                    <div class="form-group col-md-3">
                        <a href="/Node/Index" class="btn pull-right">返回列表</a>
                        <button type="submit" class="btn margin-r-5 btn-primary pull-right">修改</button>
                    </div>
                </div>

            </div>

        </div>
    </div>

}

<script>

    $(function () {
        $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
            checkboxClass: 'icheckbox_flat-green',
            radioClass: 'iradio_flat-green'
        });


        $('#isenabledAlarm').on('ifChecked', function (event) {
            $(".alarmbox").show();


        });
        $('#isenabledAlarm').on('ifUnchecked', function (event) {
            $(".alarmbox").hide();
        });

        Init();


    })

    function Init() {
        if ('@Model.NodeDetail.isenablealarm' == "1") {
            $('#isenabledAlarm').iCheck('check');
            $(".alarmbox").show();

        }
        else {
            $('#isenabledAlarm').iCheck('uncheck');
            
            $(".alarmbox").hide();
        }

        if ('@Model.NodeDetail.ifcheckstate.ToString().ToLower()' == "true") {
            $('#ifcheckstate').iCheck('check');
        }
        else
        {
            $('#ifcheckstate').iCheck('uncheck');
        }
       
    }
</script>
