
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<section class="content-header">
    <h1>
        用户列表
        <small>展示用户列表</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 用户管理</a></li>
        <li><a href="#">用户列表</a></li>
    </ol>
</section>




<section class="content">
    <!--查询条件-->
    <input type="hidden" id="hidAdminId" value="@ViewBag.AdminId"/>
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">检索条件</h3>
            <div class="box-tools pull-right">

                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>

        <div class="box-body">

            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label>用户创建起始时间:</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" name="UserCreateTimeRange" value="@ViewBag.UserCreateTimeRange" class="form-control" id="reservation">
                        </div>
                    </div>

                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label>用户手机:</label>
                        <input type="text" name="UserMobile" value="@ViewBag.UserMobile" id="txtUserMobile" class="form-control">
                        <!-- /.input group -->
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label>用户邮箱:</label>
                        <input type="text" name="UserEmail" value="@ViewBag.UserEmail" id="txtUserEmail" class="form-control">
                        <!-- /.input group -->
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label>姓名:</label>
                        <input type="text" name="UserRealName" value="@ViewBag.UserRealName" id="txtUserRealName" class="form-control">
                        <!-- /.input group -->
                    </div>
                </div>

            </div>

        </div>

        <div class="box-footer">
            <a href="@Url.Action("add", "Admin")" class="btn margin-r-5 btn-info pull-right">新增</a>
            <button type="button" class="btn margin-r-5 btn-primary pull-right" id="btnSearchUserList">查询</button>
        </div>

    </div>




    <div class="box box-default">
        <!--任务列表-->
        <div class="row">
            <div class="col-xs-12">

                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">用户展示列表</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="tbUserList" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>用户编号</th>
                                    <th>用户名</th>
                                    <th>姓名</th>
                                    <th>角色</th>
                                    <th>手机号</th>
                                    <th>邮箱</th>
                                    <th>更新时间</th>
                                    <th>创建时间</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                            <tfoot>

                            </tfoot>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    var tbl;
    $(function () {
        tbl = $('#tbUserList').DataTable({
            //"bFilter": true, //过滤功能
            "aoColumns": [
                { "data": "id" },//用户编号
                { "data": "username" },//用户名
                { "data": "realname" },//姓名
                { "data": "userrole" },//角色
                { "data": "usermobile" },//手机号
                { "data": "useremail" },//邮箱
                { "data": "userupdatetime" },//用户更新时间
                { "data": "createtime" },//用户创建时间
                {
                    "mRender": function (mData, type, full) {
                        var html = [];
                        html.push("<a href=\"../Admin/Edit?userid=" + full.id + "\"  class=\"btn  btn-sm btn-warning margin pull-right\">编辑</a>")
                        return html.join('');
                    }
                },

            ],
            "paging": true,
            "lengthChange": true,
            // "searching": true,//是否允许Datatables开启本地搜索
            "ordering": false,//是否允许Datatables开启排序
            "info": true,//控制是否显示表格左下角的信息
            "autoWidth": true,//自动宽度
            "bProcessing": true, //DataTables载入数据时，是否显示‘进度’提示
            "bScrollCollapse": true, //是否开启DataTables的高度自适应，当数据条数不够分页数据条数的时候，插件高度是否随数据条数而改变
            "bPaginate": true, //是否显示（应用）分页器
            "bInfo": true, //是否显示页脚信息，DataTables插件左下角显示记录数
            "sPaginationType": "full_numbers", //详细分页组，可以支持直接跳转到某页
            // "sScrollX": "100%",
            // "scrollX": true,
            "iDisplayLength": 10,//默认显示
            "aLengthMenu": [10, 15, 20, 25, 50],//控制每页显示多少个
            "oLanguage": oLanguageData,
            "bServerSide": true,////指定服务端分页，必须的属性！
            "sAjaxSource": "Index",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "AdminId", "value": $("#hidAdminId").val() });
                aoData.push({ "name": "UserCreateTimeRange", "value": $("#reservation").val() });
                aoData.push({ "name": "UserMobile", "value": $("#txtUserMobile").val() });
                aoData.push({ "name": "UserEmail", "value": $("#txtUserEmail").val() });
                aoData.push({ "name": "UserRealName", "value": $("#txtUserRealName").val() });
            },
            "fnServerData": function (sSource, aoData, fnCallback) {

                $.ajax({
                    "dataType": 'json',
                    "type": "POST",
                    "url": sSource,
                    "data": aoData,
                    "success": function (data) {
                        if (data == null) {
                            tbl.clear();
                            return;
                        }
                        fnCallback(data);
                    }
                });
            }

        });
        //点击查询
        $("#btnSearchUserList").click(function () {
            tbl.clear();
            tbl.draw();
        });


    })
</script>